{{define "main"}}
<div class="container">
    <div class="bd-lead">

        <div class="columns is-tablet is-centered">

            <div class="column is-6 ">

                <img class="single-service-img" src="{{ relURL .Params.img }}" alt="">
                <h2 class="title single-service-title"> {{.Title }}</h2>
                <span class="single-service-content">
                    {{ .Content }}
                </span>
            </div>
            <div class="column is-3 is-offset-1 service-container">
                
            </div>

        </div>
    </div>


</div>
{{end}}