*, html, body {
    margin: 0;
    padding: 0;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: "Nunito Sans", Arial, sans-serif;
}

body {
    height: 100%;
    width: 100%;
    background-color: white!important;
}

.p-padding {
    padding:0 1.5rem;
}

.header-text {
    padding: 1.5rem;
    text-align: justify;
    text-justify: inter-word;
}

header {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.slidebar {
    overflow: hidden;
    height: 800px;
    margin-top: 84px;
}

.top-banner {
    background-color: #f8f9fd;
    color: #999999;
}

.slide-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 100%;
}

.item-2 {
    background-image:  url('../images/plash.webp');
}

.item-1 {
    background-image: url('../images/plush.webp');
}


.grad {
    background-image: url('../images/point.png');
    width: 100%;
    height: 100%;

}



.slider-container {
    height: 100%;
}

.slider-container .title {

}

.slider-container .text {
    font-size: 24px;
}

.read-slider {
    color: white;
    background-color: rgba(0,0,0,.6);
}



.logo-container img, .time-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* .column {
    border: 0.5px solid black;
}

.columns {
    border: 1px solid red;
} 
 */



.columns.is-vcentered {
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}

.time-container {
padding-top: 35px;
}

.schedule-container {
    padding-top: 25px;
}



.navbar .navbar-menu .navbar-end  > .navbar-item, .title{
    /* font-family: 'Capriola', sans-serif ; */
    /* font-family: 'Nunito', sans-serif ; */
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


.navbar .navbar-menu .navbar-end  > .navbar-item{     
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: rgba(0,0,0,.8);
    
}


.navbar .navbar-menu .navbar-end  > .navbar-item.active{
    border-bottom: #f06292 3px solid;
    color: #f06292;
}

.navbar .navbar-menu .navbar-end > .navbar-item:hover{
    background-color: #fafafa;
    color: #f06292;
}


.divider {
    width: 100%;
}

#services {
    background-color: #f8f9fd;
    margin-top: -8px;
}


.who-p {
    color: #999999;
    text-align: justify;
}


.who-p-title {    
    text-align: justify;
}

.navbar-item img {
    max-height: none;
}


.navbar {
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    -webkit-transition: all 0.3s cubic-bezier(0.01, 1.11, 0.6, 1);
    -moz-transition: all 0.3s cubic-bezier(0.01, 1.11, 0.6, 1);
    -o-transition: all 0.3s cubic-bezier(0.01, 1.11, 0.6, 1);
    transition: all 0.3s cubic-bezier(0.01, 1.11, 0.6, 1);
    border-bottom: #dddddd 0.7px solid;
    z-index: 100;
}

.title-divider{
    background-color: #f06292;

}


.aboutus-container {
    padding-top: 80px;
}
/* //#fafafa !important */

.navbar.is-fixed-top {
    top: 24px;
}

.navbar.is-fixed-top.down {
    top: 0px;
}


.item-banner {
    margin-right: 20px;
    font-size: 14px;
}

.info-container .column {
    text-align:right;
}

.icon-banner {
    color: #b2b2b2;
    font-size: 14px;
    margin-right: 5px;
}

.column.social {
    text-align: center;
}

.icon-banner.social {
    color: #b2b2b2;
    font-size: 16px;
    margin-right: 15px;
}

.slider-arrow {
    color: black;
}