*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    /* font-family: "Open Sans", Arial, sans-serif; */
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    background-color: white !important;
}

.p-padding {
    padding: 0 1.5rem;
}

.m-margin {
    margin: 0 1.5rem;
}

.header-text {
    padding: 1.5rem;
    text-align: justify;
    text-justify: inter-word;
}

header {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.slidebar {
    height: 100%;
}

/* .top-banner {
    background-color: #187599;
    color: #fafafa;
    width: 100%;
    position: fixed;
    top: 0;
    height: 24px;
    z-index: 9;
} */

/* .slide-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    height: 700px;
    width: 100%;
}

.item-2 {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.50) 0%, rgba(158, 158, 158, 0.24) 100%), url('../images/plash.webp');
}

.item-1 {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.50) 0%, rgba(158, 158, 158, 0.24) 100%), url('../images/plush.webp');    
}

.grad {
    background-image: url('../images/point.png');
    width: 100%;
    height: 100%;
}

.slider-container {
    height: 100%;
    color: white;
}

.slider-container .title,
.slider-container .subtitle {
    color: white;
}

.slider-container .text {
    font-size: 24px;
} */
/* 
.read-slider {
    color: white;
    background-color: rgba(0, 0, 0, .6);
    text-transform: uppercase;
} */

.logo-container img,
.time-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* .column {
    border: 0.5px solid black;
}

.columns {
    border: 1px solid red;
} 
 */

.columns.is-vcentered {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.time-container {
    padding-top: 35px;
}

.schedule-container {
    padding-top: 25px;
}

.navbar .navbar-menu .navbar-start>a.navbar-item.is-active::before,
.navbar .navbar-menu .navbar-start .navbar-item>a.navbar-link.is-active::before {
    background-color: #187599;
}

.navbar .navbar-menu .navbar-start>a.navbar-item::before,
.navbar .navbar-menu .navbar-start .navbar-item>a.navbar-link::before {
    content: '';
    position: absolute;
    height: 5px;
    background-color: trasparent;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.navbar .navbar-menu .navbar-start>.navbar-item,
.navbar .navbar-menu .navbar-start .navbar-item>.navbar-link,
.navbar .navbar-item.has-dropdown .navbar-dropdown>.navbar-item .title {
    /* font-family: 'Capriola', sans-serif ; */
    /* font-family: 'Nunito', sans-serif ; */
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar .navbar-menu .navbar-start>.navbar-item {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    color: rgba(0, 0, 0, .8);
    background-color: white;
}

.navbar .navbar-menu .navbar-start>.navbar-item,
.navbar-link {
    color: #424242;
}

a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover {
    color: black;
    background-color: #fafafa !important;
}



.divider {
    width: 100%;
    margin-top: -80px;
}

#services {
    background-color: #CAF7FF;
    margin-top: -8px;
}

.who-p {
    color: #999999;
    text-align: justify;
}

.who-p-title {
    text-align: justify;
}

.navbar-item img {
    max-height: none;
}

.navbar {
    /* border-bottom: #dddddd 0.7px solid; */
    z-index: 100;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
}

.navbar.down {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.title-divider {
    background-color: #187599;
    /* 0096a5 */
}

.aboutus-container {
    padding-top: 80px;
}


/* //#fafafa !important */



.item-banner {
    margin-right: 20px;
    font-size: 14px;
}

.info-container .column {
    text-align: right;
}

.icon-banner {
    color: #fafafa;
    font-size: 14px;
    margin-right: 5px;
}

.column.social {
    text-align: center;
}

.slider-arrow {
    color: black;
}

.top-banner .container {
    padding-left: 15px;
}

.cert-img {
    height: 84px;
}

.icon-social {
    font-size: 20px;
    color: #b2b2b2;
}

.icon-social:hover {
    color: #525252;
}

.icon-social-f {
    font-size: 20px;
    color: white;
}

.icon-social-f:hover {
    color: #9AAEBB;
}


.slider-container .column {
    padding-top: 282px;
}

.glide__slide {
    /* border-bottom: #dddddd 0.7px solid; */
}

.slider-card {
    background-color: rgba(20, 114, 152, 0.75);
}

.slider-card .title {
    color: white;
    text-align: justify;
}

.slider-card .subtitle {
    color: #fafafa;
}


/* @media (min-width: 320px) and (max-width: 480px) {
    .slider-container .column {
        padding-top: 60px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .slider-container .column {
        padding-top: 200px;
    }
} */

.is-center-text {
    text-align: center;
}

/* #testimony {
    padding: 50px 0;
}

#testimony .glide__arrow {
    box-shadow: none
} */

.is-face-frame {
    height: 175px;
}

.nav-shell {
    padding-top: 100px;
}

.slider-arrow {
    color: white;
}

.rax {
    position: absolute;
    bottom: -3px;
    z-index: 2;
    width: 100%;
}


/*
primary => #187599
light => #56c8d8
dark => 007c91
*/

.navbar .navbar-item.has-dropdown .navbar-dropdown .navbar-item {
    padding: 10px 20px;
}

.navbar .navbar-item.has-dropdown .navbar-dropdown {
    border-radius: 0;
}

.navbar-brand {
    align-items: center;
}



input.v-input,
textarea {
    width: 100%;
    font-size: 0.9375rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 0.4375rem 1.125rem;
    background-color: #f7f9fc;
    border-color: #edf1f7;
    border-style: solid;
    border-width: 1px;
    color: #192038;
    font-family: Open Sans, sans-serif;
    -webkit-appearance: none;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-property: border, background-color, color, -webkit-box-shadow;
    transition-property: border, background-color, color, -webkit-box-shadow;
    transition-property: border, background-color, color, box-shadow;
    transition-property: border, background-color, color, box-shadow, -webkit-box-shadow;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}


input.v-input:hover,
textarea:hover {
    border-color: #598bff;
}




.v-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 180px;
    margin-top: 0px;
    margin-left: 0px;
    border-style: none;
    border-width: 2px;
    border-color: #CAF7FF;
    border-radius: 4px;
    background-color: #CAF7FF;
    font-family: 'Open Sans', sans-serif;
    color: #187599;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    max-width: 213px;
    box-shadow: 0 0 0 0.375rem rgba(143, 155, 179, 0.16);
}


.v-button:focus {
    outline: none;
}

.v-button:hover {
    color: #187599;
}


.phone-control a {
    height: 100%;
    border-color: #edf1f7 !important;
    background-color: #ececec;
}

/** FOOTER **/


.footer {
    background-color: #364954;
    color: white !important;
}

.footer-title {
    color: white;
}

.footer-text {
    color: #9AAEBB;

}

.footer-divider {
    background-color: #9AAEBB;
}

#contact {
    background-color: #187599;
    color: white !important;
}


#contact h1,
#contact p,
#contact label {
    color: #f7f9fc;
}


.contact-image {
    width: 70%;
}


a.footer-text:hover {
    color: #187599;
}



.service {

    background: white;
    padding: 1.5em;
    border: 1px solid #dcdcdc;
    cursor: pointer;
    min-height: 380px;
    position: relative;
}


.service-title {
    display: block;
}

.service-img {
    width: 90px;
}

.service p {
    text-align: justify;
    text-justify: inter-word;
}

.service a {
    position: absolute;
    bottom: 20px;
    left: 20px;
}   


.title {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: 'Montserrat', sans-serif;
}

.hero-r {
    text-align: right;
}

.icon-b {
    height: 100%;
    display: inline-block;
    padding: 16px 20px;
    background-color: #187599;
    color:#CAF7FF;
    border-radius: 0.25rem 0 0 0.25rem ;
    font-size: 24px;
    
}


.text-b {
    display: inline-block;
    /* padding: 0.6875rem 1.125rem; */
    height: 100%;
    width: 100%;
    padding: 16px 24px;
    width: auto;
}

.bd-lead {
    background: transparent;
}

.card {
    height: 100%;
    border-radius: 0.25rem;
}


.btn-primary {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 180px;
    margin-top: 0px;
    margin-left: 0px;
    border-style: none;
    border-width: 2px;
    border-color: #CAF7FF;
    border-radius: 4px;
    background-color: #CAF7FF;
    font-family: 'Open Sans', sans-serif;
    color: #187599;
    font-size: 16px;
    padding: 15px;
    width: 180px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-primary:hover {
    color: #187599;
}