<!DOCTYPE html>
<html class="no-js">

<head>
  {{- partial "meta.html" . }}
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  {{- partial "styles.html" . }}

  {{ block "header" . }}
  {{ end }}
</head>

<body id="body">
  {{- partial "navbar.html" . }}
  {{ block "main" . }}
  {{ end }}
  {{ .Content }}
  {{- partial "footer.html" . }}
  {{- partial "scripts.html" . }}

  <script>
    console.log(window.netlifyIdentity)
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>

</html>