<section class="hero" id="contact">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-6">
                    <h1 class="title">
                        CONTACTANOS
                    </h1>
                    <hr class="title-divider">
                </div>
            </div>

            <div class="columns">
                <div class="column is-6">
                    <br>
                    <form action="https://getform.io/f/b583295b-3c06-48a2-b3c6-bad9db608300" method="POST"
                        accept-charset="UTF-8">

                        <div class="field">
                            <label class="label">Nombre</label>
                            <div class="control">
                                <input class="input" type="text" name="fullname" required>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Correo</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input" name="email" type="email" required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                <span class="icon is-small is-right">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Mensaje</label>
                            <div class="control">
                                <textarea name="message" class="textarea" placeholder="Textarea"></textarea>
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <button type="submit" class="button is-link">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="column is-4 is-offset-2">
                    <img src="{{relURL "/images/contact.svg"}}" alt="">
                </div>
            </div>

        </div>
    </div>
</section>