<section class="slidebar" id="home">
    <div class="container">
        <div class="bd-lead">



            <div class="columns is-vcentered">
                <div class="column is-5" data-aos="fade-right" data-aos-duration="700">
                    <div class="title"> Estamos Aquí Para Ayudarte</div>
                    <br>
                    <div class="subtitle">
                        Brindamos servicios de orientación, asesoría, consejería, evaluación e intervención en los
                        problemas
                        de lactancia materna en todas sus etapas.
                    </div>
                    <div class="columns is-desktop">
                        <div class="column is-6">


                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field is-expanded">
                                        <div class="field has-addons">
                                            <p class="control phone-control">
                                                <a class="button is-static">
                                                    +57
                                                </a>
                                            </p>
                                            <p class="control is-expanded">
                                                <input class="v-input" type="tel" placeholder="Tu numero de telefono">
                                            </p>
                                        </div>
                                        <p class="help">Déjanos tu nuermo y te contactaremos</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="column is-4">
                            <button class="v-button" type="button">Consultar</button>
                        </div>

                    </div>





                </div>

                <div class="column is-9" data-aos="fade-left" data-aos-duration="700">
                    <img src="{{relURL "/images/B1.png"}}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="glide">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">



                <li class="glide__slide">
                    <div class="slide-item item-1">
                        <div class="container">
                            <div class="slider-container columns is-desktop">


                                <div class="column is-5 is-offset-1">
                                    <div class="title"> He Aquí el Titulo</div>
                                    <div class="subtitle">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor
                                        sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet
                                        consectetur adipisicing elit.
                                    </div>
                                    <a class="button is-primary is-medium">CONSULTAR</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
                
                <li class="glide__slide">
                    <div class="slide-item item-2">
                        <div class="container">
                            <div class="slider-container columns is-desktop">


                                <div class="column is-5 is-offset-1">
                                    <div class="title"> He Aquí el Titulo</div>
                                    <div class="subtitle">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor
                                        sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet
                                        consectetur adipisicing elit.
                                    </div>
                                    <a class="button is-primary is-medium">CONSULTAR</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="glide__arrows is-hidden-mobile" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                <i class="fas fa-chevron-left slider-arrow"></i>
            </button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
                <i class="fas fa-chevron-right slider-arrow"></i>
            </button>
        </div>
    </div> -->
</section>