<section class="slidebar" id="home">
    <div class="glide">
        <img class="rax" src="{{ relURL "images/illus.png"}}" alt="">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">


                <!-- PRIMER SLIDE -->
                <li class="glide__slide">
                    <div class="slide-item item-1">
                        <div class="container">
                            <div class="slider-container columns is-desktop">


                                <div class="column is-5 is-offset-1">
                                    <div class="title"> He Aquí el Titulo</div>
                                    <div class="subtitle">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor
                                        sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet
                                        consectetur adipisicing elit.
                                    </div>
                                    <a class="button is-primary is-medium">CONSULTAR</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
                <!-- Segundo slide -->
                <li class="glide__slide">
                    <div class="slide-item item-2">
                        <div class="container">
                            <div class="slider-container columns is-desktop">


                                <div class="column is-5 is-offset-1">
                                    <div class="title"> He Aquí el Titulo</div>
                                    <div class="subtitle">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor
                                        sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet
                                        consectetur adipisicing elit.
                                    </div>
                                    <a class="button is-primary is-medium">CONSULTAR</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="glide__arrows is-hidden-mobile" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                <i class="fas fa-chevron-left slider-arrow"></i>
            </button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
                <i class="fas fa-chevron-right slider-arrow"></i>
            </button>
        </div>
    </div>
</section>