{{ $whatsapp := $.Site.Params.whatsapp }}
<section class="slidebar" id="home">
    <div class="container">
        <div class="bd-lead" style="padding-top: 1rem;">
            <div class="columns is-vcentered" style="height: 500px;">
                <div class="column is-5" data-aos="fade-right" data-aos-duration="700">
                    <div class="title hero-title is-spaced">Profesionales en puericultura y lactancia materna</div>
                    <div class="subtitle">
                        Somos profesionales con las mejores certificaciones a nivel mundial en lactancia materna,
                        prestamos servicios de consultoría para prevenir y corregir dificultades que se puedan presentar
                        en estas primeras etapas de tu maternidad.
                    </div>
                    <div class="columns is-desktop">
                        <div class="column">
                            <a class="v-button" href="https://wa.me/{{$whatsapp}}" target="__blank">
                                <span class="icon-b">
                                    <i class="fab fa-whatsapp"></i>
                                </span>
                                <span class="text-b">
                                    Consultar
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column is-6 is-offset-1 hero-r is-hidden-mobile" data-aos="fade-left" data-aos-duration="700">
                    <img class="imgh-0" style="display: none;" src="{{relURL "/images/B1.png"}}" alt="">
                    <img class="imgh-1" src="{{relURL "/images/B1-4.png"}}" alt="">


                        <!-- <img src="{{relURL "/images/IBCLC.png"}}" /> -->
                        <!-- <img src="{{relURL "/images/C1.png"}}" /> -->

                    
                        <div class="certification-banner">

                            <img class="cert" src="{{relURL "/images/IBCLC.png"}}" />
                            <img class="cert-2" src="{{relURL "/images/C2.jpg"}}" />
                            <img class="cert-3" src="{{relURL "/images/C1.png"}}" />
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>