{{ $pages := .Site.RegularPages }}
<div class="nav-shell">

    <div class="top-banner">
        <div class="container">
            {{with .Site.Params.navbar.schedule }}
            <i class="fab fa-whatsapp"></i>
            <span class="item-banner">
                {{.phone}}
            </span>
            <i class="far fa-calendar-alt icon-banner"></i>
            <span class="item-banner">
                {{.range}}
            </span> {{- end}}
        </div>
    </div>

    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    {{ with .Site.Params.navbar.logo }}
                    <img src="{{ relURL .path }}" alt="{{ .alt }}" width="250">
                    {{ end }}
                </a>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-id">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbar-id" class="navbar-menu p-padding">
                <div class="navbar-start">
                    {{ range .Site.Params.navbar.menu }} {{ if ne .text "SERVICIOS" }}
                    <a class="navbar-item" href="{{.link}}">
                        
                            {{ .text }}
                        
                    </a>
                    {{ end}} {{ if eq .text "SERVICIOS" }}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link is-arrowless" href="{{.link}}">
                            {{.text}}
                        </a>
                        <div class="navbar-dropdown">
                            {{ range where $pages "Section" "services" }}
                            <a class="navbar-item" href="{{ .RelPermalink }}">{{ .Title }}</a> {{ end}}
                        </div>
                    </div>
                    {{ end }} {{ end}}
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <a>
                            <i class="fab fa-instagram icon-social"></i>
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a href="">
                            <i class="fab fa-facebook-f icon-social"></i>
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a href="">
                            <i class="fab fa-twitter icon-social"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="right-side">

        </div>
    </nav>
</div>