{{ $pages := .Site.RegularPages }}
{{ $instagram := $.Site.Params.instagram }}
{{ $facebook := $.Site.Params.facebook }}
<div class="nav-shell">
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation" data-aos-duration="700"
        data-aos="fade-down">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    {{ with .Site.Params.navbar.logo }}
                    <img src="{{ relURL .path }}" alt="{{ .alt }}" width="250">
                    {{ end }}
                </a>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                    data-target="navbar-id">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbar-id" class="navbar-menu p-padding">
                <div class="navbar-start">
                    {{ range .Site.Params.navbar.menu }}
                    <a class="navbar-item" href="{{.link}}">
                        {{ .text }}
                    </a>
                    {{ end}}
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <a href="{{$instagram}}" target="__blank">
                            <i class="fab fa-instagram icon-social"></i>
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a href="{{$facebook}}" target="__blank">
                            <i class="fab fa-facebook-f icon-social"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-side">

        </div>
    </nav>
</div>