{{ $pages := .Site.RegularPages }}
<img class="divider" src="{{relURL "/images/divider.svg"}}" alt="">

<section class="hero" id="services">
    <div class="hero-body">
        <div class="container">
            <div class="columns ">
                <div class="column is-8">
                    <h1 class="title is-spaced">
                        Servicios
                    </h1>
                    <p class="subtitle is-spaced">Queremos que conozcas nuestro portafolio de servicios, donde podrás obtener varias opciones de atención profesional que se adaptan a tus necesidades.</p>
                </div>
            </div>

            <!-- MAISDJ-->
            <div class="columns is-multiline">
                {{ range where $pages "Section" "services" }}
                <div class="column is-6" data-aos="fade-left" data-aos-duration="700">

                    <div class="card">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-128x128">
                                        <img src="{{relURL .Params.icon}}" />
                                    </figure>
                                </div>
                                <div class="media-content" style="margin:auto; overflow: hidden;">
                                    <p class="title is-5">{{.Title}}</p>

                                </div>
                            </div>

                            <div class="content">
                                <p>
                                    {{.Description | safeHTML | truncate 300}}
                                </p>
                                
                                
                            </div>
                            <a href="{{.RelPermalink}}" class="btn-primary">Más Información</a>
                        </div>
                        <!-- <footer class="card-footer">
                            <a href="{{.RelPermalink}}" class="card-footer-item">Consultar</a>
                        </footer> -->
                    </div>






                </div>
                {{ end }}
            </div>

        </div>
    </div>
</section>