<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Capriola|Open+Sans|Nunito+Sans|Montserrat|Nunito&display=swap" rel="stylesheet">
<!-- BULMA -->
<link rel="stylesheet" type="text/css" href="{{ relURL "css/bulma.css" }}">
<!-- GILDE SLIDER -->
<link rel="stylesheet" type="text/css" href="{{ relURL "css/glide.core.min.css" }}">
<link rel="stylesheet" type="text/css" href="{{ relURL "css/glide.theme.min.css" }}">
<!-- Full page -->
<link rel="stylesheet" type="text/css" href="{{ relURL "css/fullpage.min.css" }}">
<!-- AOS -->
<link rel="stylesheet" type="text/css" href="{{ relURL "css/aos.css" }}">
<!-- MAIN -->
<link rel="stylesheet" type="text/css" href="{{ relURL "css/main.css" }}">
<!-- CUSTOM-->
{{- range .Site.Params.custom_stylesheets -}}
<link rel="stylesheet" type="text/css" href="{{ relURL . }}">
{{- end -}}

