<section id="testimony">
    <div class="container">
        <div class="bd-lead">
            <div class="columns">
                <div class="column is-8" data-aos="fade-down" data-aos-duration="700">
                    <h1 class="title is-spaced">
                        Testimonios
                    </h1>
                    <p clasS="subtitle">
                        Sabemos que tu bebé y tu salud son lo más importante para ti y tu familia, por eso queremos brindarte la seguridad de que amamos nuestro trabajo y lo realizamos día a día con altos estándares de calidad, para Vida Láctea más que pacientes son nuestra familia. También puedes ver muchos más testimonios y opiniones en nuestras redes.
                </div>
            </div>

            <div class="columns  is-multiline" data-aos="fade-up" data-aos-duration="700">
                {{- range .Site.Params.testimonies}}
                <div class="column is-5 ">
                    <iframe class="is-face-frame" src="{{.}}" width="500" scrolling="no" frameborder="0"
                        allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
                {{- end}}
            </div>

        </div>

    </div>
    <!-- <div class="container">
        <div class="columns is-centered">
            <div class="column is-half is-center-text">
                <div class="title">TESTIMONIOS</div>
                <hr class="title-divider">
                <div class="glide-testimony">
                    <div class="glide__track" data-glide-el="track">
                        <ul class="glide__slides">
                            {{- range .Site.Params.testimonies}}
                            <li class="glide__slide">
                                <iframe class="is-face-frame"
                                src="{{.}}"
                                width="500" scrolling="no" frameborder="0" allowTransparency="true"
                                allow="encrypted-media"></iframe>
                            </li>
                            {{- end}}
                        </ul>
                    </div>

                    <div class="glide__arrows is-hidden-mobile" data-glide-el="controls">
                        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                            <i class="fas fa-chevron-left slider-arrow"></i>
                        </button>
                        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
                            <i class="fas fa-chevron-right slider-arrow"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</section>

<!--  -->