<section class="hero" id="who">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-tablet">
                <div class="column is-6">
                    <img src="{{relURL "/images/who.png"}}" alt="">
                </div>

                <div class="column is-6 aboutus-container">
                    <h1 class="title">
                        SOBRE NOSOTROS
                    </h1>

                    <hr class="title-divider">
                    <p class="subtitle who-p-title">
                        Brindamos servicios de orientación, asesoría, consejería, evaluación e intervención en los problemas de lactancia materna en todas sus etapas
                        
                    </p>

                    <p class="who-p">
                        Vida Láctea es una empresa dedicada a proteger, fomentar, y apoyar la lactancia materna, como la mejor alimentación, para garantizar el desarrollo integral de los niños.
                    </p>

                    <p class="who-p">
                            Vida láctea surge del sueño personal de nuestra fundadora, de crear una organización especializada en lactancia materna, que no solo asesore sino acompañe, proteja y apoye a una mama que desea amamantar. 


                            Según la mitología griega, la Vía Láctea surge del momento en que Hera esposa de Zeus, se da cuenta que mientras dormía, han puesto a su pecho a Hércules hijo bastardo de Zeus, para concederle la inmortalidad. La fuerza con que hércules, mama, despierta a Hera, y disgustada, lo rechaza con fuerza, su pecho derrama leche, la cual se esparce y forma el camino de estrellas, Vía láctea.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>