<!DOCTYPE html>
<html class="no-js">

<head>
  {{- partial "meta.html" . }}

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  {{- partial "styles.html" . }}
</head>

<body id="body">
  
    {{- partial "navbar.html" . }}
    {{- partial "header.html" . }}
    
            {{- partial "who.html" . }}
            {{- partial "services.html" . }}
            {{- partial "contactus.html" . }}


    {{- partial "footer.html" . }}
    {{- partial "scripts.html" . }}
</body>

</html>