<!DOCTYPE html>
<html class="no-js">

<head>
  {{- partial "meta.html" . }}

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  {{- partial "styles.html" . }}
</head>

<body id="body">
  
    {{- partial "navbar.html" . }}
    {{- partial "header.html" . }}
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-12">
        <div class="tile is-parent">
          <article class="tile is-child">
            {{- partial "who.html" . }}
            {{- partial "services.html" . }}
            {{- partial "contactus.html" . }}
          </article>
        </div>
      </div>
      <!-- <div class="tile is-parent">
        <article class="tile is-child ">
            {{- partial "article.html" . }}
        </article>
      </div> -->
    </div>
    {{- partial "footer.html" . }}
    {{- partial "scripts.html" . }}
</body>

</html>